*{
    padding: 0;
    margin: 0;
}
html{
     background: black;
     color: aliceblue;
     font-family: "SF Pro SC", "SF Pro Text", "SF Pro Icons", "PingFang SC",
    "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.title{
    display: flex;
    justify-content: center;
    margin: 20px;
    font-size: 30px;
}
.hero{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    border: 2px solid pink;
    margin: auto 500px ;
    margin-top: 10%;
    
}

input{
    width: 300px;
    border-radius: 40px;
    height: 30px;
    font-size: 18px;
    text-align: center;
    background-color: rgb(218, 226, 240);
}
button{
    color: rgb(0, 0, 0);
    background-color: rgb(219, 129, 129);
    border-radius: 30px;
    width: 100px;
    height: 50px;
  
}